:root {
    --background-pink:#F17FB2;
    --purple:#670069;
    --heading-one:100px;
    --mobile-heading-one:60px;
    --tag:25px;
    --mobile-tag:18px;
    --text:18px;
    --mobile-text:14px;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section,
header,
footer,
main {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.wrapper {
    padding:6rem 4rem;
    width:100%;
    max-width:1440px;
}
button {
    background-color:transparent;
    border:none;
    text-decoration: underline;
    font-weight:700;
    color:white;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    cursor:pointer;
}
button span {
    background-color:var(--dark-pink);
    border-radius:100rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
}
.main-bottom-buttons button span {
    aspect-ratio:1/1 !important;
}
img {
    width:100%;
}
button span img {
    width:30px;
}
main .wrapper {
    position: relative;
}

body {
    background-color:var(--background-pink);
}
.logo {
    width:150px;
}
/** **/

