:root {
    --background-pink:#F17FB2;
    --purple:#670069;
    --heading-one:90px;
    --mobile-heading-one:60px;
    --tag:22px;
    --mobile-tag:16px;
    --text:18px;
    --mobile-text:14px;
}

*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
section,
header,
footer,
main {
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
}
.wrapper {
    padding:6rem 6rem;
    width:100%;
    max-width:1440px;
}
button {
    border:none;
    text-decoration: underline;
    background-color: transparent;
    font-weight:700;
    color:white;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
    cursor:pointer !important;
    z-index:100000000000 !important;
}
button span {
    background-color:var(--purple);
    border-radius:10rem;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:1rem;
}

.main-bottom-buttons button span {
    aspect-ratio:1/1 !important;
}
img {
    width:100%;
}
button span img {
    width:30px;
}
main .wrapper {
    position: relative;
    z-index:100000 !important;
}

body {
    background-color:var(--background-pink);
}
.logo {
    width:75px;
}
.planet {
    position:absolute;
    width:75px;
}
/** **/

.header-wrapper {
    width:100%;
    max-width:1440px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0.5rem 6rem;
}
.header-wrapper p {
    font-weight:700;
    color:var(--purple);
    font-size:var(--tag);
}
@Media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@Media (max-width:500px) {
    .header-wrapper {
        padding-inline:1rem;
    }
    .header-wrapper p {
        font-size:16px;
    }
}
@media (max-width:390px) {
    .logo {
        width:100px;
    }
}
@media (max-width:309px) {
    .logo {
        width:100px;
    }
    .header-wrapper p {
        font-size:12px;
    }
}
/*** Main **/

.main-left-column h1 {
    font-size:var(--heading-one);
    text-align:left;
    line-height:1;
    color:var(--purple);
}
.main-left-column-top p {
    font-weight:500;
    font-size:var(--tag);
    letter-spacing:0.25rem;
}
.main-left-column {
    width:50%;
}
.main-right-column {
    width:50%;
}
.main-left-column {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
}
.main-left-column > p {
    font-weight:300;
    font-size:var(--text);
    line-height:1.75;
    max-width:55ch;
}
.main-left-column-top {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0;
}
/* Right */
label {
    font-size:var(--text);
    font-weight:bold;
    color:var(--purple);
}
fieldset {
    border:none;
    width:100%;
}
input,
textarea {
    width:100%;
    padding:0.25rem;
    padding-block:0.5rem;
    background-color:transparent;
    border:none;
    border-bottom:2px solid var(--purple)
}
main .wrapper {
    display:flex;
    align-items: center;
    gap:4rem;
    padding-top:4rem;
}
form {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1rem;
    width:100%;
}
fieldset {
    display:flex;
    align-items: center;
    gap:1rem;
}
fieldset > fieldset {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:0;
}
#textarea {
    flex-direction: column;
    align-items: flex-start;
    gap:0;
}

button {
    margin-top:1rem;
}

/* Images */

.images .wrapper {
    display:grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    gap:2rem;
    place-content:center;
    place-items:center;
    padding-top:0;
}
main .wrapper {
    padding-bottom:2rem;
}
.images img {
   width:100%;
   object-fit:fill;
}

.buttons {
    display:flex;
    align-items: center;
    gap:2rem;
}


/* Stickmen */

.stickman {
    position:absolute;
    width:150px;
}

.two {
    right:-2% ;
    top:50%;
    transform:translateY(-50%) rotateZ(50deg) ;
    width:100px;
}
.stickman:nth-of-type(3) {
    left:-1%;
    top:70%;
    width:75px;
    transform:translateY(-50%) rotateZ(50deg);
}
.stickman:nth-of-type(1) {
    left:-0%;
    top:7%;
    transform:translateY(-50%) rotateZ(150deg);
    width:75px;
}
.stickman:nth-of-type(4) {
    top:-18%;
    left:50%;
    transform:translateX(-50%) rotateZ(-0deg);
    width:200px;

    
}
.main-left-column-top {
    position:relative;
}
.planet {
    top:7%;
    right:12%;
}


/* Stickman Animations */
.stickman {
    position:absolute;
    width:150px;
}

.two {
    right:-2% !important;
    top:50% !important;
    width:100px;
}
.stickman:nth-of-type(3) {
    left:-1%;
    top:70%;
    width:75px;
    transform:translateY(-50%) rotateZ(50deg);
}
.stickman:nth-of-type(1) {
    left:-0%;
    top:7%;
    transform:translateY(-50%) rotateZ(150deg);
    width:75px;
}
.stickman:nth-of-type(4) {
    top:-18%;
    left:50%;
    transform:translateX(-50%) rotateZ(-0deg);
    width:200px;  
}

/* */
.stickman:nth-of-type(1) {
    transform:translateY(-50%) rotateZ(150deg) translateX(80%);
    animation: slide-in-x 750ms forwards ease;
}
.stickman:nth-of-type(3) {
    transform:translateY(-50%) rotateZ(50deg) translateX(-80%);
    animation: slide-in-x-two 750ms forwards ease;
    animation-delay:200ms;
}
.stickman:nth-of-type(4) {
    transform:translateX(-50%) rotateZ(-0deg) translateY(-80%);
    animation: slide-down 750ms forwards ease !important;
    animation-delay:400ms;
    top:-22%;

}
.stickman:nth-of-type(2) {
    transform:translateY(-50%) rotateZ(50deg) translateX(50%);
    animation: two-slide 750ms forwards ease;
    animation-delay:500ms;
}
@keyframes two-slide {
    from {
        transform:translateY(-50%) rotateZ(50deg) translateX(50%) ;
    }
    to {
        transform:translateY(-50%) rotateZ(50deg) translateX(0%);

    }
}
@keyframes slide-in-x {
    from {
        transform:translateY(-50%) rotateZ(150deg) translateX(80%);
    }
    to {
        transform:translateY(-50%) rotateZ(150deg);
    }
}
@keyframes slide-in-x-two {
    from {
        transform:translateY(-50%) rotateZ(50deg) translateX(-80%);
    }
    to {
        transform:translateY(-50%) rotateZ(50deg);
    }
}
@keyframes slide-down {
    from {
        transform:translateX(-50%) rotateZ(-0deg) translateY(-80%);
    }
    to {
        transform:translateX(-50%) rotateZ(0deg);
    }
}


/* H1 Animation */


.main-left-column-top {
    overflow:hidden;
}
h1 {
    transform: translateY(200%) rotateZ(45deg);
    opacity:0.1;
    animation:spin-up forwards 750ms ease-in-out;
    animation-delay:600ms;
}
.main-left-column-top p {
    transform:scaleX(0);
    transform-origin:left;
    animation: type-in forwards 750ms ease-in-out;
    opacity:0;
    animation-delay: 700ms;
}
@keyframes spin-up {
    from {
        transform: translateY(200%) rotateZ(45deg);
    }
    to {
        transform: translateY(0%) rotateZ(0deg);
        opacity:1;

    }
}
@keyframes type-in {
    from {
        transform:scaleX(0);
    }
    to {
        transform:scaleX(1);
        opacity:1;
    }
}

@media (max-width:1188px) {
    main .wrapper {
        flex-direction: column;
        align-items: flex-start;
    }
    .main-left-column {
        width:100%;
        align-items:center;
    }
    .main-left-column-top {
        align-items: center;
        justify-content: center;
    }
    .planet {
        right:-0%;
    }
    h1 {
        text-align:center !important;
        max-width:10ch;
    }
    .main-left-column > p {
        text-align:center !important;
    }
    .main-right-column {
        width:100%;
    }
    .stickman:nth-child(4) {
        top:-13% !important;
    }
}
@media (max-width:900px) {
    main .wrapper,
    .header-wrapper,
    .images .wrapper {
        padding-inline:4rem;
    }
    
}
@media (max-width:700px) {
    main .wrapper,
    .images .wrapper {
        padding-inline:2rem !important;
    }
    .header-wrapper {
        padding-inline:2rem;
    }
    h1 {
        font-size:80px !important;
    }
    .main-left-column-top p {
        font-size:20px;
        text-align:center;
    }
    .main-left-column > p {
        max-width:45ch;
    }
    .logo {
        width:60px;
    }
}
@media (max-width:664px) {
    .stickman:nth-child(4) {
        display:none;
    }
    .stickman:nth-child(2) {
        top:20% !important;
        right:-4% !important;
    }
}
@media (max-width:611px) {
    .planet {
        top:-8%;
    }
   
}
@media (max-width:502px) {
    
    .stickman:nth-child(2) {
        top:20% !important;
        right:-4% !important;
        width:75px;
    }
    .stickman:nth-child(1) {
        width:65px;
    }
    .stickman:nth-child(3) {
        width:60px !important;
        left:-2%;
    }
    .planet {
        width:50px;
    }
}
@media (max-width:500px) {
    main .wrapper,
    .images .wrapper {
        padding-inline:1rem !important;
    }
    .header-wrapper {
        padding-inline:1rem !important;
    }
    h1 {
        font-size:var(--mobile-heading-one) !important;
    }
    .main-left-column-top p {
        font-size:var(--mobile-tag);
    }
    .main-left-column > p {
        font-size:var(--mobile-text);
    }
    .buttons button {
        gap:0.5rem;
    }
    .buttons span {
        background-color:var(--purple);
        border-radius:100rem;
        display:flex;
        align-items: center;
        justify-content: center;
        padding:0.5rem;
    }
    .buttons span img {
        width:20px;
    }
    .main-left-column-top p {
        font-size:12px;
        letter-spacing:0.15rem;
    }
}
@media (max-width:456px) {
    
    .stickman:nth-child(2) {
        top:4% !important;
        right:-4% !important;
        width:75px;
    }
    main .wrapper {
        padding-block:6rem;
    }
    .stickman:nth-child(1) {
        width:65px;
        top:2%;
        
    }
    .planet {
        display:none;
    }
    .stickman:nth-child(3) {
        width:60px !important;
        left:-2%;
        top:77%;

    }
    
}
@Media (max-width:367px) {
    h1 {
        font-size:50px !important;
    }
    .buttons {
        flex-direction: column;
        align-items: center;
        gap:0;
        
    }
}
@media (max-width:312px) {
    .main-left-column-top p {
        font-size:10px;
        letter-spacing:0.15rem;
    }
    h1 {
        font-size:45px !important;
    }
}
@media (max-width:288px) {
    .main-left-column-top p {
        font-size:10px;
        letter-spacing:0.15rem;
    }
    h1 {
        font-size:40px !important;
    }
}
/* Form */

@media (max-width:500px) {
    fieldset {
        flex-direction: column;
    }
}

.wrapper,
section,
main {
    overflow:hidden;
}
input:focus,
textarea:focus {
    border:2px solid var(--purple);
    outline:none;
    border-radius:0.25rem;
}


